{% extends "main.html" %}

{% block content %}
<!-- {{ super() }} -->
<link rel="stylesheet" href="assets/stylesheets/home.css">
<div class="mercury-col">
  <div class="mercury-col mercury-col-1">
    <img src="assets/images/mercury.svg" alt="Mercury" />
  </div>
  <div class="mercury-col mercury-col-2">
    <p>
      Mercury is a Remote Procedure Call (RPC) framework specifically designed
      for use in High-Performance Computing (HPC) systems with high-performance
      fabrics.Its network implementation is abstracted to make efficient use of
      native transports and allow easy porting to a variety of systems
      (including future systems). Mercury supports asynchronous transfer of
      parameters and execution requests, and has dedicated support for large
      data arguments that are transferred using Remote Memory Access (RMA).
      Its interface is generic and allows any function call to be serialized.
      Since code generation is done using the C preprocessor, no external tool
      is required.
    </p>
    <p>
      See the user guide for a quick introduction on how to use Mercury in your
      projects!
    </p>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <!-- Copyright and theme information -->
      <div class="md-footer-copyright">
        <div class="mercury-ack">
          <div class="mercury-ack mercury-ack-text md-footer-copyright__highlight">
          Mercury is partially supported by DOE Office of Science Advanced
          Scientific Computing Research (ASCR) research and by NSF Directorate
          for Computer &amp; Information Science &amp; Engineering (CISE)
          Division of Computing and Communication Foundations (CCF) core
          program funding. Mercury is a core component of the
          <a href="//www.mcs.anl.gov/research/projects/mochi/"
          target="_blank" rel="noopener">Mochi</a>
          ecosystem of microservices, an R&D 100 winning project.
        </div>
        <div class="mercury-ack mercury-ack-pic">
          <img width="80px" src="assets/images/mochi_white.svg" alt="Mochi" />
          <img width="50px" src="assets/images/RD100_2021_Winner_Logo.svg" alt="2021 R&D 100" />
        </div>
      </div>
    </div>
  </div>
</div>

{{ super() }}
{% endblock %}